@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  background: #b49076;
  background: linear-gradient(135deg, #b49076, #886469);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
}

.window {
  border-radius: 4px;
  width: 60vw;
  margin-top: 100px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.35);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
  border: 1px solid rgba(255, 255, 255, 0.43);
}

.title-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.43);
  padding: 10px 20px;
}

.body > .quote {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  min-height: 20vh;
  font-size: 20px;
  background-image: url("../assets/quote-bg.svg");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: bottom 20px right 30px;
}

.details-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.details {
  border-top: 1px solid rgba(255, 255, 255, 0.43);
  padding: 20px;
}

.open {
  max-height: 100px; /* Adjust the desired height */
}

.quote-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  padding: 20px;
  background-image: url("../assets/quote-bg.svg");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: bottom 20px right 30px;
}

.quote-loader > div {
  width: 25px;
  height: 25px;
  border-top: 2px solid rgb(56, 66, 0);
  border-radius: 50%;
  animation: loader 0.2s linear infinite;
}

@keyframes loader {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.body > .tags {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  min-height: 22px;
  gap: 10px;
  flex-wrap: wrap;
  border-top: 1px solid rgba(255, 255, 255, 0.43);
}

.controls {
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.43);
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  gap: 10px;
}

.controls > *,
.controls > div > * {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.controls > div > * > img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.chip {
  background: #00d86560;
  padding: 1px 10px 1px 20px;
  border-radius: 5px;
  font-size: small;
  position: relative;
}

.chip::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.603);
  border-radius: 50%;
  left: 8px;
  top: 50%;
  translate: 0 -50%;
}

.buttons > div {
  width: 15px;
  height: 15px;
  background-color: var(--bg-color);
  border-radius: 50%;
}

.buttons {
  display: flex;
  gap: 8px;
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  font-weight: 500;
}

.title-bar > .title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(15, 15, 15, 0.644);
}

.dev {
  position: absolute;
  bottom: 0;
}

.dev > a {
  font-weight: 500;
}

.app-logo {
  width: 20px;
}

.notFound > * {
  padding: 0;
  margin: 0;
}

.notFound > p > span {
  background: #fdc600ab;
  font-size: small;
  padding: 2px 10px;
  border-radius: 4px;
}

.offline {
  background-image: url("../assets/offline.svg");
  height: 50px;
  width: 50px;
}

@media (max-width: 768px) {
  .window {
    width: 90vw;
  }

  .body > .quote {
    min-height: 50vh;
  }

  .body > .quote-loader {
    min-height: 50vh;
  }

  body {
    margin-bottom: 50px;
  }

  .window {
    margin-top: 65px;
  }

  .title-bar > .title {
    display: none;
  }
  .dev {
    bottom: -65px;
  }

  .dev > a {
    color: white;
  }
}
